Chapter 17. Language Requirements
With the ongoing evolution of the C and C++ languages, developers are increasingly required to
understand the compiler and linker flags that enable support for the C and/or C++ version their
code uses. Different compilers use different flags, but even when using the same compiler and
linker, flags can be used to select different implementations of the standard library.

In the days when C++11 support was relatively new, CMake had no direct support for choosing
which standard to use, so projects were left to work out the required flags on their own. In CMake
3.1, features were introduced to allow the C and C++ standard to be selected in a consistent and
convenient way, abstracting away the various compiler and linker differences. This support has
been extended in subsequent versions and from CMake 3.6 covers most common compilers (CMake
3.2 added most of the compiler support, 3.6 added the Intel compiler).

Two main methods are provided by CMake for specifying language requirements. The first is to set
the language standard directly and the second is to allow projects to specify the language features
they need and let CMake select the appropriate language standard. While the functionality has
largely been driven by the C and C++ languages, other languages and pseudo-languages such as
CUDA and Objective-C/C++ are also supported.

17.1. Setting The Language Standard Directly
The simplest way for a project to control the language standards used by a build is to set them
directly. Using this approach, developers do not need to know or specify the individual language
features used by the code, they just need to set a single number indicating the standard the code
assumes is supported. Not only is this easy to understand and use, it also has the advantage that it is
relatively straightforward to ensure that the same standard is used throughout a project. This
becomes important at the link stage where a consistent standard library should be used across all
the linked libraries and object files. It can also be important at compile time if headers define things
differently depending on what language standard is being used.

As is the usual pattern with CMake, target properties control which standard will be used when
building that target’s sources and when linking the final executable or shared library. For a given
language, there are three target properties related to specifying the standard. In the following,
<LANG> will most commonly be either C or CXX, but CUDA, OBJC and OBJCXX are also supported with more
recent CMake versions.

<LANG>_STANDARD
   Specifies the language standard the project wants to use for the specified target.

    • C_STANDARD supports the values 90, 99 and 11, with CMake 3.21 adding 17 and 23.

    • CXX_STANDARD supports the values 98, 11 and 14. The value 17 is also supported since CMake
      3.8, 20 since CMake 3.12 and 23 since CMake 3.20. The value 26 is recognized as valid starting
      with CMake 3.25, but no compiler support is currently implemented for it.

    • CUDA_STANDARD is a CUDA-specific version of what CXX_STANDARD would normally control. If
      CUDA_STANDARD is not defined, it effectively falls back to CXX_STANDARD. Supported values for
      CUDA_STANDARD are 98 and 11 since CMake 3.8, 14 since CMake 3.9, 03, 17 and 20 since CMake

       3.18 and 23 since CMake 3.22. Some of these values are recognized as valid by earlier CMake
       versions than the ones just mentioned, but no compilers actually supported the values prior
       to the minimum versions stated.

      • From CMake 3.16, OBJC_STANDARD and OBJCXX_STANDARD follow a similar pattern. If they are not
       defined, then C_STANDARD and CXX_STANDARD are used as fallbacks respectively. In practice, it
       would be unusual to set OBJC_STANDARD or OBJCXX_STANDARD, since the fallback to C_STANDARD and
       CXX_STANDARD would typically be desirable to ensure that C/C++ code uses language standards
       consistent with the Objective-C/C++ code.

   One would reasonably presume that later CMake versions would add support for other language
   standards as they evolve over time. When a target is created, the initial value of this
   <LANG>_STANDARD property is taken from the CMAKE_<LANG>_STANDARD variable.

<LANG>_STANDARD_REQUIRED
   While the <LANG>_STANDARD property specifies the language standard the project wants,
   <LANG>_STANDARD_REQUIRED determines whether that language standard is treated as a minimum
   requirement or as just a "use if available" guideline. One might intuitively expect that
   <LANG>_STANDARD   would be a requirement by default, but for better or worse, the
   <LANG>_STANDARD_REQUIRED properties are OFF by default. When OFF, if the requested standard is not
   supported by the compiler, CMake will decay the request to an earlier standard rather than
   halting with an error. This decaying behavior is often unexpected for new developers and in
   practice can be a cause of confusion. Thus, for most projects, when specifying a <LANG>_STANDARD
   property, its corresponding <LANG>_STANDARD_REQUIRED property will almost always need to be set
   to true as well to ensure the particular requested standard is treated as a firm requirement.
   When     a   target   is   created,   the   initial   value   of   this   property   is   taken   from   the
   CMAKE_<LANG>_STANDARD_REQUIRED variable.

<LANG>_EXTENSIONS
   Many compilers support their own extensions to the language standard. A compiler and/or
   linker flag is usually provided to enable or disable those extensions. The <LANG>_EXTENSIONS target
   property controls whether those extensions are enabled for that particular target. See below for
   how this property is initialized.

For many compilers, the same flag is used to control both the language standard and whether
extensions are enabled. With CMake 3.21 or earlier, if a project sets the <LANG>_EXTENSIONS property
without also setting the <LANG>_STANDARD property, <LANG>_EXTENSIONS may effectively be ignored.
CMake 3.22 introduced policy CMP0128 which affects this behavior. When CMP0128 is set to NEW,
<LANG>_EXTENSIONS will be honored regardless of whether <LANG>_STANDARD is set or not.

CMP0128 also affects how <LANG>_EXTENSIONS is initialized when a target is created. With CMP0128 set to
OLD or not set, the initial value for the <LANG>_EXTENSIONS property is taken from the
CMAKE_<LANG>_EXTENSIONS variable. If that variable isn’t set, the default value will be true. When
CMP0128 is set to NEW, the initial value of <LANG>_EXTENSIONS will also be taken from the
CMAKE_<LANG>_EXTENSIONS variable if it is defined, but will fall back to the value of a separate, read-
only CMAKE_<LANG>_EXTENSIONS_DEFAULT variable otherwise. CMake determines the compiler’s default
during its compiler checks and will set CMAKE_<LANG>_EXTENSIONS_DEFAULT accordingly to reflect that
behavior.

CMP0128 has one more potential effect. When this policy is set to NEW, flags related to setting the
language standard or extensions will only be added if the compiler’s default behavior doesn’t
already provide those settings. This may change the flags seen on the compiler command line, but
shouldn’t change the actual behavior unless the project is adding its own language standard flags
directly (which is strongly discouraged).

In practice, projects would more typically set the variables that provide the defaults for the above
target properties rather than setting the target properties directly. This ensures that all targets in a
project are built in a consistent manner with compatible settings. It is also recommended that
projects set all three rather than just some of them. The defaults for <LANG>_STANDARD_REQUIRED and
<LANG>_EXTENSIONS have proven to be relatively unintuitive for many developers. By explicitly setting
them, a project makes clear the standard behavior it expects.

  # Require C++11 and disable extensions for all targets
  set(CMAKE_CXX_STANDARD          11)
  set(CMAKE_CXX_STANDARD_REQUIRED ON)
  set(CMAKE_CXX_EXTENSIONS        OFF)

When using GCC or Clang, the above would typically add the -std=c++11 flag. For Visual Studio
compilers before VS2015 Update 3, no flags would be added since the compiler either supports
C++11 by default or it has no support for C++11 at all. From Visual Studio 15 Update 3, the compiler
supports specifying a C++ standard of C++14 or later, with C++14 being the default if not set.

In comparison, the following example requests a later C++ version and enables compiler
extensions, resulting in a GCC/Clang compiler flag like -std=gnu++14 instead. Visual Studio compilers
again may support the requested standard by default or not, depending on compiler version. If the
compiler in use does not support the requested C++ standard, CMake will configure the compiler to
use the most recent C++ standard it supports.

  # Use C++14 if available and allow compiler extensions for all targets
  set(CMAKE_CXX_STANDARD          14)
  set(CMAKE_CXX_STANDARD_REQUIRED OFF)
  set(CMAKE_CXX_EXTENSIONS        ON)

The following example shows how to set the C standard details for a specific target only:

  # Build target Foo with C99, no compiler extensions
  set_target_properties(Foo PROPERTIES
      C_STANDARD          99
      C_STANDARD_REQUIRED ON
      C_EXTENSIONS        OFF
  )

Note that <LANG>_STANDARD specifies a minimum standard, not necessarily an exact requirement.
CMake may select a more recent standard due to compile feature requirements (discussed next).

17.2. Setting The Language Standard By Feature
Requirements
Directly setting the language standard for a target or for a whole project is the simplest way to
manage standard requirements. It is the most suitable approach when the project’s developers
know which language version provides the features used by the project’s code. It is particularly
convenient when a large number of language features are being used, since each feature does not
have to be explicitly specified. In some cases, however, developers may prefer to state which
language features their code uses and leave CMake to select the appropriate language standard.
This has the advantage that, unlike specifying the standard directly, compile feature requirements
can be part of a target’s interface and therefore can be enforced on other targets linking to it.

Compile feature requirements are controlled by the target properties COMPILE_FEATURES and
INTERFACE_COMPILE_FEATURES,     but   these    properties       are   typically   populated     using    the
target_compile_features() command rather than being manipulated directly. This command follows
a very similar form to the various other target_…() commands provided by CMake:

  target_compile_features(targetName
       <PRIVATE|PUBLIC|INTERFACE> feature1 [feature2 ...]
      [<PRIVATE|PUBLIC|INTERFACE> feature3 [feature4 ...]] ...
  )

The PRIVATE, PUBLIC and INTERFACE keywords have their usual meanings, controlling how the listed
features should be applied. PRIVATE features populate the COMPILE_FEATURES property, which is applied
to the target itself. Those features specified with the INTERFACE keyword populate the
INTERFACE_COMPILE_FEATURES property, which is applied to any target that links to targetName. Features
specified as PUBLIC will be added to both properties and will therefore be applied to both the target
itself and to any other target which links to it.

Each feature must be one of the features supported by the underlying compiler. CMake provides
two lists of known features: CMAKE_<LANG>_KNOWN_FEATURES which contains all known features for the
language and CMAKE_<LANG>_COMPILE_FEATURES which contains only those features supported by the
compiler. If a requested feature is not supported by the compiler, CMake will report an error.
Developers may find the CMake documentation for the CMAKE_<LANG>_KNOWN_FEATURES variables to be a
particularly useful resource, since it not only lists the features understood by that particular
version of CMake, it also contains references to standard documents relating to each feature. Note
that not all functionality provided by a particular language version can be explicitly specified using
compile features. For example, new C++ STL types, functions, etc. have no associated feature.

From CMake 3.8, a per language meta-feature is available to indicate a particular language
standard   rather    than   a   specific   compile   feature.    These   meta-features   take    the    form
<lang>_std_<value> and when listed as a required compile feature, CMake will ensure compiler flags
are used which enable that language standard. For example, to add a compile feature which
ensures that a target and anything that links against it has C++14 support enabled, the following
could be used:

  target_compile_features(targetName PUBLIC cxx_std_14)

If a project needs to support CMake versions earlier than 3.8, then the above meta-feature will not
be available. In such cases, each compile feature would have to be listed out individually, which can
be impractical and would likely be incomplete. This tends to limit the usefulness of compile
features in general, with projects frequently choosing to set the language standard through the
target properties described in the previous section instead.

In situations where a target has both its <LANG>_STANDARD property set and compile features specified
(directly or transitively as a result of INTERFACE features from something it links to), CMake will
enforce the stronger standard requirement. In the following example, Foo would be built with
C++14, Bar with C++17 and Guff with C++14:

  set_target_properties(Foo PROPERTIES CXX_STANDARD 11)
  target_compile_features(Foo PUBLIC cxx_std_14)

  set_target_properties(Bar PROPERTIES CXX_STANDARD 17)
  target_compile_features(Bar PRIVATE cxx_std_11)

  set_target_properties(Guff PROPERTIES CXX_STANDARD 11)
  target_link_libraries(Guff PRIVATE Foo)

Note that this may mean a more recent language standard could be used than what the project
expected, which in some cases can result in compilation errors. For example, C++17 removed
std::auto_ptr, so if code expects to be compiled with an older language standard and still uses
std::auto_ptr, it could fail to compile if the toolchain strictly enforces this removal.

The CUDA, OBJC and OBJCXX languages are a little unusual in that they are based off C or C++. The OBJC
and OBJCXX languages do not as yet have their own separate set of compile features, but the compile
features for the corresponding base language can be used instead. In CMake 3.16 or earlier, the CUDA
language also did not have its own separate set of compile features and relied on the C++ compile
features. CMake 3.17 added dedicated compile feature support for CUDA.

17.2.1. Detection And Use Of Optional Language Features

Some projects have the ability to handle a particular language feature being supported or not. They
may provide a fallback implementation, for example, or only define certain function overloads if
they are supported by the compiler. A project may support some compile features being optional,
such as keywords intended to guide the developer or provide an increased ability for the compiler
to catch common mistakes. C++ keywords such as final and override are common examples of this.

CMake provides a number of ways to handle the above scenarios. One approach is to use generator
expressions to conditionally set compiler defines or include directories based on the availability of
a particular compile feature. These can be a little verbose, but they offer a great deal of flexibility
and support very precise handling of feature-based functionality. Consider the following example:

  add_library(Foo ...)

  # Make override a feature requirement only if available
  target_compile_features(Foo PUBLIC
      $<$<COMPILE_FEATURES:cxx_override>:cxx_override>
  )

  # Define the foo_OVERRIDE symbol so it provides the
  # override keyword if available or empty otherwise
  target_compile_definitions(Foo PUBLIC
      $<$<COMPILE_FEATURES:cxx_override>:foo_OVERRIDE=override>
      $<$<NOT:$<COMPILE_FEATURES:cxx_override>>:foo_OVERRIDE>
  )

The above would allow code such as the following to compile for any C++ compiler, regardless of
whether it supported the override keyword:

  class MyClass : public Base
  {
  public:
      void func() foo_OVERRIDE;
      ...
  };

Other features can also have a similar conditionally defined symbol used in much the same way.
C++ keywords like final, constexpr and noexcept can potentially be used if available or omitted if not
supported by the compiler and still produce valid code. Other keywords such as nullptr and
static_assert have alternative implementations which can be used if the keyword is not supported.

Specifying generator expressions for each feature to cover the supported and unsupported cases
can be both tedious and fragile. Techniques such as using the WriteCompilerDetectionHeader module
(which is deprecated as of CMake 3.20) can help reduce the drawbacks, but in the long run,
switching behavior at the standard level rather than on individual features is likely to be the better
approach.

17.3. Recommended Practices
Projects should avoid setting compiler and linker flags directly to control the language standard
used. The required flags vary from compiler to compiler, so it is more robust, more maintainable
and more convenient to use the features CMake provides and allow it to populate the flags
appropriately. The CMakeLists.txt file will also more clearly express the intent, since human
readable variables and properties are used instead of often cryptic raw compiler and linker flags.

The   simplest   method    for    controlling   language   standard   requirements   is   to   use   the
CMAKE_<LANG>_STANDARD, CMAKE_<LANG>_STANDARD_REQUIRED and CMAKE_<LANG>_EXTENSIONS variables. These
can be used to set the language standard behavior for the entire project, ensuring consistent usage
across all targets. These variables should ideally be set just after the first project() command in the
top level CMakeLists.txt file. Projects should always set all three variables together to make clear
how the language standard requirements should be enforced and whether compiler extensions are

permitted.     Omitting   CMAKE_<LANG>_STANDARD_REQUIRED   or   CMAKE_<LANG>_EXTENSIONS   can   lead    to
unexpected behavior, as the defaults may not be what some developers intuitively expect.

If the language standard only needs to be enforced for some targets and not others, the
<LANG>_STANDARD, <LANG>_STANDARD_REQUIRED and <LANG>_EXTENSIONS target properties can be set on
individual targets rather than for the whole project. These properties behave as though they were
PRIVATE, meaning they only specify requirements on that target and not on anything linking to it.
This places more of a burden on the project to ensure that all targets have correctly specified
language standard details. In practice, it is usually easier and more robust to use the variables to set
language requirements project-wide rather than use per target properties. Prefer using the
variables unless the project needs different language standard behavior for different targets.

If using CMake 3.8 or later, compile features can be used to specify the desired language standard
on a per-target basis. The target_compile_features() command makes this easy and clearly specifies
whether such requirements are PRIVATE, PUBLIC or INTERFACE. The main advantage of specifying a
language requirement this way is that it can be enforced transitively on other targets via PUBLIC and
INTERFACE relationships. These requirements are also preserved when targets are exported and
installed (see Chapter 27, Installing). Note, however, that only the equivalent of the <LANG>_STANDARD
and <LANG>_STANDARD_REQUIRED target property behaviors are provided, so the <LANG>_EXTENSIONS target
property or CMAKE_<LANG>_EXTENSIONS variable should still be used to control whether compiler
extensions are allowed.

If policy CMP0128 is not set to NEW, the <LANG>_EXTENSIONS properties and their associated variables
often only take effect if the corresponding <LANG>_STANDARD is also set. This is due to how compilers
frequently combine the two into a single flag. Therefore, unless using CMake 3.22 or later with
policy CMP0128 set to NEW, it is difficult to escape having to specify <LANG>_STANDARD, even when compile
features are used.

Specifying individual compile features provides fine-grained control over the language
requirements at a per-target level. In practice, it is difficult for developers to ensure that all
features used by a target are explicitly specified, so there will always be the question of whether the
language requirements are properly defined. They can also easily become out of date as code
development continues over time. Most projects will probably find specifying language
requirements this way to be tedious and fragile, so they should only be used if the situation clearly
warrants it.

In the early days of C++11 and C++14, working with compile features was potentially useful because
compiler support was often lagging behind. For later language releases, support by the mainstream
compilers has arrived much faster. Subsequently, CMake stopped providing fine-grained features
for language standards beyond C++14. For C++17 and later, only the high level meta features like
cxx_std_17 are provided.

For projects still needing to support older compilers, they can detect available compile features and
provide implementations for whether a feature is available or not. The WriteCompilerDetectionHeader
module provided by CMake was sometimes useful in helping projects transition to more modern
compilers, but that module was deprecated in CMake 3.20. Therefore, it should no longer be used.

